@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.field-image img {
    width: auto;
    object-fit: cover;
    object-position: bottom;
    height: 30rem;
    width: 100%;
}

.field-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-title h1 {
    text-transform: uppercase;
    font-size: 5rem;
    background-image: linear-gradient(45deg, #9796f0, #fbc7d4);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.calendar-booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-calendar {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
    padding: 20px 10px;
    min-height: 50vh;
    background:linear-gradient(to right, #9796f0, #fbc7d4);
}
.wrapper{
    height: 50vh;
    width: 55vh;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
#current-date-month, #current-date-year{
    visibility : hidden;
}
header .icons{
    display: flex;
}
header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
.calendar{
    padding: 20px;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background: #9796f0;
}
.days li:not(.active):hover::before{
    background: #f2f2f2;
}
.booking-time {
    height: 50vh;
    width: 55vh;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    background-color: #fff;
    overflow: scroll;
}
.booking-times{
    padding: 20px;
}
.booking-times ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.booking-times .booking-schedule{
    padding: 15px;
    margin-bottom: 20px;
}

.booking-times .booking-schedule li{
    z-index: 1;
    position: relative;
    margin-top: 30px;
}
.booking-schedule li.inactive{
    color: #aaa;
}
.booking-schedule li.active{
    color: #fff;
}
.booking-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
}
.booking-row > a{
    margin-left: 20px;
    border-radius: 20px;
    width: 20vh;
}
.booking-row > span {
    background-color: #9796f0;
    border-radius: 20px;
    width: 10vh;
}
.booking-times .booking-schedule li .able{
    cursor: pointer;
    background-color:rgba(0,0,0,0.12);
}
.booking-times .booking-schedule li .disable{
    background-color: grey;
}
.booking-times .booking-schedule li .booked{
    background-color: red;
}
.booking-times .booking-schedule li .booked-own{
    background-color: greenyellow;
}
.message {
    text-align: center;
    font-size: 27px;
}
